<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/uom-energy-demos/src/main/java/tech/uom/demo/energy/CO2CarDemo.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tech.uom.demo.energy.CO2CarDemo"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="uom-energy-demos"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="VolvoV70_D4204T5 PETROL 4.3 1888.9"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="uom-energy-demos"/>
</launchConfiguration>
