*.class

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
!.idea
.idea/*
!.idea/copyright/

*.iws
*.iml
*.ipr

### NetBeans ###
nbactions.xml
nb-*.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### PisMockWebApp ###
node_modules/
node
.vscode

### Other ###
bin/
.factorypath
*.log
logs
log

.DS_Store
.springBeans

cms-db-schema/liquibase.properties
**/META-INF
**/main/java/META-INF
xs2a-server-api/.idea

# Package Files #
*.jar
*.war
*.ear
/.settings
/domain/target
/javafx/target
/javafx/fxlib/nbproject/private/
/javafx/fxlib/build/
/javafx/fxlib/dist/
/me/MEApplication1/nbproject/private/
/me/MEApplication1/build/
/me/MEApplication1/dist/
/me/hellome/build/
/me/hellome/dist/
/target
/.project
.idea
*.iml