.center{
    text-align: center;
}

h1{
    font-style: italic;
}

canvas{
    margin-top: 100px;
}

.redtext{
	color:red;
}

/*Styling for charts*/
svg {
  font: 10px sans-serif;
    color: #FFF
}
 
 .tick {
    fill: #c0392b;
 }

.dot {
  cursor:pointer;
}

.lightline {
  fill: none;
  stroke: rgba(255,255,255,0.2);
  stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
}
 
.axis path, .axis line {
  fill: none;
  stroke: rgba(255,255,255,0.2);
  shape-rendering: crispEdges;
}

.fullwidth{
    max-width: 100%;
    overflow: hidden !important;
}


#chart{
    color: blue !important; 
    padding-left:5px;
}


#gauge{
    width: 30%;
    display: inline-block;
    background-color: red;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

span{
    display:inline-block; vertical-align:middle;
}